@import "tailwindcss";

@tailwind utilities;
body {
  font-family: "Cinzel", serif;
  background-color: #202020;
}
.logo--small {
  @apply h-[61px] flex justify-center items-center;
}

.logo-img--small {
  @apply h-[60px] md:h-[100px] object-contain;
}

.logo--large {
  @apply w-full h-[146px] flex items-center justify-center;
}

.logo-img--large {
  @apply w-full h-[146px] object-contain;
}
.inputan{
  @apply w-full h-12 rounded-full bg-white/10 px-4 text-white placeholder-gray-400 border border-transparent focus:border-blue-500 focus:outline-none transition-all duration-200
}
.button-pagination{
  @apply disabled:opacity-40 px-4 py-2 w-24 h-10 flex items-center justify-center gap-2 text-sm font-medium bg-white text-black rounded-2xl shadow-md transition-all duration-300 ease-in-out hover:shadow-black hover:text-amber-600 hover:scale-105
}

.font-cinzel {
  font-family: "Cinzel", serif;
  background-color: #202020;
}
